<div class="modal-dialog">
    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <h5 class="modal-title" id="exampleModalLabel">Edit Language</h5>
            <button (click)="confirmBox()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="addLanguage()">
            <div class="modal-body text-center">
                <div class="row">
                    <label class="form-label">Language</label>
                    <ng-multiselect-dropdown formControlName="payloads" [placeholder]="'Select your Language'"
                        value="languageId" [settings]="dropdownSettings" [data]="allLanguage"
                        [(ngModel)]="profile.languages" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (enableCheckAll)="false">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button (click)="confirmBox()" class="btn btn-outline-primary rounded-pill px-5">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary rounded-pill px-5">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>