@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet');

$gray: #333333;
$blue: #006EFF;

* {
    font-family: 'Montserrat', sans-serif;
}

// .container {
//     padding-top: 20%;
// }

a {
    text-decoration: none;
}

span {
    color: $blue;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.button-back {
    color: $gray;
    margin-top: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    cursor: pointer;
}

.text-title {
    margin-top: 30px;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
}

.image-doc {
    width: 100px;
    height: 116px;
    left: 1070px;
    top: 153px;
}

.text-sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: $gray;
}

.btn-user {
    margin-top: 14px;
}

.font-style-btn {
    color: white;
}

.modal-dialog {
    margin-top: 100px;
    height: 500px;
    width: 600px;
    border-radius: 20px;
}

.image-container {
    width: 90%;
    margin: 0 auto 30px auto;
}

.image-container img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

figcaption {
    margin: 20px 0 30px 0;
    text-align: center;
    color: #2a292a;
}

input[type="file"] {
    display: none;
}

// label {
//     display: block;
//     position: relative;
//     background-color: #025bee;
//     color: #ffffff;
//     font-size: 18px;
//     text-align: center;
//     padding-top: 28px;
//     margin: auto;
//     cursor: pointer;
// }

.btn-1 {
    height: 45px;
    width: 222px;
    border-radius: 48px;
    background-color: #025bee;
}

.p {
    margin-top: 28px;
}

.title-screening {
    color: var(--black-main, #1B1B1B);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-white {
    background-color: white;
    border-radius: 15px;
    border: 1px solid var(--gray-placeholder, #95979D);
    padding: 20px;
    margin-bottom: 20px;
}

.sub-title {
    color: var(--black-main, #1B1B1B);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.label-text {
    color: var(--black-main, #1B1B1B);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-text {
    width: 99%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: var(--grey-field, #F2F2F2);
    border: none;
    border-bottom: 2px solid #44A0F4;
}

.input-text:focus {
    outline: none; /* Menghapus border (focus outline) saat elemen mendapat fokus */
}

.character-count {
    position: absolute;
    font-size: 12px;
    right: 50px;
    bottom: 40px;
}



  