@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet');

$gray: #333333;
$blue: #006EFF;
$biru_card : #ECF3FF;
$abu : #F3F3F3;
$abu2 : #F7F7F7;
$abu3 : #cecece;
$abu4 : #F0F0F0;
$abu5 : #D9D9D9;
$abu6 : #95979D;
$hijau : #149E48;

* {
    font-family: 'Montserrat', sans-serif;

    .col-sm-2,
    .col-sm-3 {
        -moz-hyphens: auto !important;
        -ms-hyphens: auto !important;
        -webkit-hyphens: auto !important;
        hyphens: auto !important;
        word-wrap: break-word !important;
    }
}


@media (max-width: 575.98px) {
    * {
        font-size: 12px;
    }

    button {
        padding: 5px !important;
        font-size: 12px;
    }

    button.img {
        width: 3px;
        height: 3px;
    }

    .jobseeker-name {
        text-align: center;
        margin-top: 15px;
    }

    .user-job-detail {
        padding-left: 15px;
    }

    .gambar-default {
        margin-bottom: 15px;
        padding-left: 0 !important;
    }

    .array-data {
        padding-left: 0 !important;
    }
}

.contain {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-white {
    background-color: white;
    border-radius: 15px;
    padding: 35px 30px;
    margin-bottom: 20px;
    border: 1px solid $abu3;
    font-size: 14px;

    h4 {
        font-weight: 600;
    }
}

.profile-completion {
    padding: 20px 30px 20px 30px;


    ::ng-deep .mat-progress-bar-fill::after {
        background-color: red;
    }

    ::ng-deep .mat-progress-bar {
        border-radius: 5px;
        height: 5px;
    }

    p {
        margin: 3px;

    }

    .check-green {
        color: $hijau;
    }

    .list-completion {
        color: $abu6;

        .active {
            color: black;
        }
    }
}

.personal-information {
    text-align: left;

    li {
        list-style: none;
        margin-bottom: 5px;
    }

    p {
        margin: 5px 0 5px 0;
    }



    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    @media (min-width: 768px) {

        .profile-detail {
            padding-left: 40px;
        }
    }

    @media (max-width: 575.98px) {

        .info-img {
            margin-top: 30px;
        }
    }

    .info-name {

        .statusHijau {

            color: $hijau;
        }

        .statusMerah {

            color: red;
        }

        .statusKuning {

            color: $abu6;
        }

        .mat-icon {
            font-size: 18px;
        }

        p {
            margin-top: -1px;
        }
    }

    .info-img {
        img {
            width: 20px;
            height: 20px;
        }


        a {

            text-decoration: none;
        }

        .col-sm-2 {
            -moz-hyphens: auto !important;
            -ms-hyphens: auto !important;
            -webkit-hyphens: auto !important;
            hyphens: auto !important;
            word-wrap: break-word !important;
        }
    }
}

a {
    text-decoration: none;
}

span {
    color: $blue;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.button-back {
    color: $gray;
    margin-top: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    cursor: pointer;
}

.text-title {
    margin-top: 30px;
    font-weight: 900;
    font-size: 25px;
    line-height: 36px;
}

.image-doc {
    width: 100px;
    height: 116px;
    left: 1070px;
    top: 153px;
}

.text-sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: $gray;
}

.btn-user {
    margin-top: 14px;
}

.font-style-btn {
    color: white;
}

.modal-dialog {
    margin-top: 100px;
    height: 500px;
    width: 600px;
    border-radius: 20px;
}

.image-container {
    width: 90%;
    margin: 0 auto 30px auto;
}

.image-container img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

figcaption {
    margin: 20px 0 30px 0;
    text-align: center;
    color: #2a292a;
}

input[type="file"] {
    display: none;
}

// label {
//     display: block;
//     position: relative;
//     background-color: #025bee;
//     color: #ffffff;
//     font-size: 18px;
//     text-align: center;
//     padding-top: 28px;
//     margin: auto;
//     cursor: pointer;
// }

.btn-1 {
    height: 45px;
    width: 222px;
    border-radius: 48px;
    background-color: #025bee;
}

.p {
    margin-top: 28px;
}

.title-screening {
    color: var(--black-main, #1B1B1B);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-white {
    background-color: white;
    border-radius: 15px;
    border: 1px solid var(--gray-placeholder, #95979D);
    padding: 20px;
    margin-bottom: 20px;
}

.sub-title {
    color: var(--black-main, #1B1B1B);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.label-text {
    color: var(--black-main, #1B1B1B);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-text {
    width: 99%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: var(--grey-field, #F2F2F2);
    border: none;
    border-bottom: 2px solid #44A0F4;
}

.input-text:focus {
    outline: none; /* Menghapus border (focus outline) saat elemen mendapat fokus */
}

.character-count {
    position: absolute;
    font-size: 12px;
    right: 50px;
    bottom: 40px;
}

@media (max-width: 575.98px) {
    * {
        font-size: 12px;
    }

    button {
        padding: 5px !important;
        font-size: 12px;
    }

    button.img {
        width: 3px;
        height: 3px;
    }

    .jobseeker-name {
        text-align: center;
        margin-top: 15px;
    }

    .user-job-detail {
        padding-left: 15px;
    }

    .gambar-default {
        margin-bottom: 15px;
        padding-left: 0 !important;
    }

    .array-data {
        padding-left: 0 !important;
    }
}

.contain {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-white {
    background-color: white;
    border-radius: 15px;
    padding: 35px 30px;
    margin-bottom: 20px;
    border: 1px solid $abu3;
    font-size: 14px;

    h4 {
        font-weight: 600;
    }
}

.profile-completion {
    padding: 20px 30px 20px 30px;


    ::ng-deep .mat-progress-bar-fill::after {
        background-color: red;
    }

    ::ng-deep .mat-progress-bar {
        border-radius: 5px;
        height: 5px;
    }

    p {
        margin: 3px;

    }

    .check-green {
        color: $hijau;
    }

    .list-completion {
        color: $abu6;

        .active {
            color: black;
        }
    }
}

.personal-information {
    text-align: left;

    li {
        list-style: none;
        margin-bottom: 5px;
    }

    p {
        margin: 5px 0 5px 0;
    }



    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    @media (min-width: 768px) {

        .profile-detail {
            padding-left: 40px;
        }
    }

    @media (max-width: 575.98px) {

        .info-img {
            margin-top: 30px;
        }
    }

    .info-name {

        .statusHijau {

            color: $hijau;
        }

        .statusMerah {

            color: red;
        }

        .statusKuning {

            color: $abu6;
        }

        .mat-icon {
            font-size: 18px;
        }

        p {
            margin-top: -1px;
        }
    }

    .info-img {
        img {
            width: 20px;
            height: 20px;
        }


        a {

            text-decoration: none;
        }

        .col-sm-2 {
            -moz-hyphens: auto !important;
            -ms-hyphens: auto !important;
            -webkit-hyphens: auto !important;
            hyphens: auto !important;
            word-wrap: break-word !important;
        }
    }
}

.top-skills {

    .btn-exp {

        button {

            margin-right: 15px;
            margin-top: 10px;
            padding: 5px 20px 5px 20px;
        }
    }

}

.working-experiences,
.education,
.salary {

    .badge {
        background-color: $abu4;
    }

    button {
        img {
            width: 20px;
            height: 20px;
        }
    }

    @media (max-width: 575.98px) {
        button {
            span {
                display: none;
            }
        }

    }

    h6 {
        font-weight: 600;
    }

    .user-job-detail {
        margin-top: 10px;
    }

    p {
        margin: 5px 0 5px 0;
    }

    img {
        width: 80px;
        height: 80px;
    }

    // @media (min-width: 1200px) {
    //     .col-md-11 {
    //         margin-left: -1rem;
    //     }
    // }

    ol {
        margin-left: 1rem;
        padding: 0;
    }

}

._aadn {
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
    background-color: white;
}



  