.modal-body {
    margin: 0 15px 0 15px;
    padding-bottom: 30px;
    text-align: left !important;
    font-size: 13px;
}

.form-check-label .form-check-input {
    cursor: pointer;
}

.positionDesc {
    position: relative;
    padding-top: 10px;
}

.hidden-input-file {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0;
}

.mt-4{
    position: relative;
    top: 10px;
}

.form1{
    width: 353px;
}

.modal-header {
    padding-top: 0;
    margin: 0 15px 0 15px;

    h5 {
        font-weight: 650;
    }
}

.modal-footer {
    padding-bottom: 0;
    margin-bottom: 0;
}

.position {
    position: relative;
    top: 35px;
}

.text-three {
    position: relative;
    left: 12px;
    margin-top: 6px;
    font-size: 12px;
    font-weight: 500;
  }