.tp-button-row button,
.tp-button-row a {
    margin-right: 68px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    z-index: 99999999 !important;
    position: fixed !important;
    order: 1 !important;
}

::ng-deep ngx-mat-tel-input-container {
    width: 20px;
    border: 1px solid blue;
}

.crypto-icon {
    height: 1em;
    vertical-align: baseline;
    margin-bottom: -0.1em;
}
.sik-dropdown > button.dropdown-toggle {
    position: relative;
    width: 200px;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2ch;
    text-align: left;
}
.sik-dropdown > button.dropdown-toggle::after {
    position: absolute;
    right: 1ch;
    top: calc(50% - 0.2ch);
}
.sik-dropdown .dropdown-item {
    cursor: pointer;
}

.modal-body {
    border: 2px dashed #95979D;
    border-radius: 10px;
    margin: 15px;
    padding-bottom: 30px;
    
    .btn {
        cursor: pointer;
    }

    .profile-img img {
        position: relative;
        top: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.modal-header {
    padding-top: 0;
    margin: 0 15px 0 15px;

    h5 {
        font-weight: 650;
    }
}

.modal-footer {
    padding-bottom: 0;
    margin-bottom: 0;
}

.hidden-input-file {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0;
}

.file-upload-button {
    position: relative;
    width: 155px;
    height: 35px;

  input[type="file"] {
        position: relative;
        width: 155px;
        height: 50px;
        bottom: 20px;
        opacity: 0;
    }
}

.file-reset-button {
    position: relative;
    bottom: 60px;
    left: 105px;
}

.text-three {
    position: relative;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    top: 5px;
  }

