<script src="http://code.angularjs.org/1.2.0/angular.min.js"></script>
<div class="modal-dialog">
    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <h5 class="modal-title" id="exampleModalLabel">Add Experience</h5>
            <button (click)="confirmBox()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <form class="form-group" [formGroup]="expModel.editExperience">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Job Title</label>
                            <input formControlName="jobTitle" type="text" class="form-control" id="exampleInputText1"
                                placeholder="Type your job title" required>
                            <div *ngIf="f['jobTitle'] && (f['jobTitle'].touched || f['jobTitle'].dirty)  &&  !f['jobTitle'].valid">
                                <div *ngIf="f['jobTitle'].errors">
                                    <div class="text-three" *ngIf="!expModel.editExperience.controls['jobTitle'].valid">
                                        <span style="color: #EB5757;">A field is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="select" class="form-label">Job Type</label>
                            <select formControlName="jobTypeId" id="Select" class="form-select" required>
                                <option value="" disabled selected hidden>Select Job Type</option>
                                <option value="1">Internship</option>
                                <option value="2">Fulltime</option>
                                <option value="3">Part-time</option>
                                <option value="4">Contractual</option>
                                <option value="4">Freelance</option>
                            </select>
                            <div *ngIf="f['jobTypeId'] && (f['jobTypeId'].touched || f['jobTypeId'].dirty)  &&  !f['jobTypeId'].valid">
                                <div *ngIf="f['jobTypeId'].errors">
                                    <div class="text-three" *ngIf="!expModel.editExperience.controls['jobTypeId'].valid">
                                        <span style="color: #EB5757;">Please select your job type </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="">
                            <label for="select" class="form-label">Company Name</label>
                            <mat-form-field class="example-full-width form1" appearance="outline" floatLabel="never">
                                <mat-label>Choose your Company</mat-label>
                                <input placeholder="ex. PT Toptalent Indonesia" matInput type="text" [matAutocomplete]="auto" formControlName="companyName" required>
                                    <mat-autocomplete #auto>
                                        <mat-option *ngFor="let item of expModel.allCompany"
                                            [value]="item.companyName">
                                            {{item.companyName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <div *ngIf="f['companyName'] && (f['companyName'].touched || f['companyName'].dirty)  &&  !f['companyName'].valid">
                                        <div *ngIf="f['companyName'].errors">
                                            <div class="text-three" *ngIf="!expModel.editExperience.controls['companyName'].valid">
                                                <span style="color: #EB5757;">A field is required</span>
                                            </div>
                                        </div>
                                    </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <div class="form-group">
                                <label for="select" class="form-label">Job Function</label>
                                <select formControlName="jobFunctionId" class="form-select" required>
                                    <option value="" disabled selected hidden>ex. Software Engineer</option>
                                <option *ngFor="let item of expModel.allJobFunction" [value]="item.jobFunctionId">{{item.jobFunction}}</option>
                                </select>
                                <div *ngIf="f['jobFunctionId'] && (f['jobFunctionId'].touched || f['jobFunctionId'].dirty)  &&  !f['jobFunctionId'].valid">
                                    <div *ngIf="f['jobFunctionId'].errors">
                                        <div class="text-three" *ngIf="!expModel.editExperience.controls['jobFunctionId'].valid">
                                            <span style="color: #EB5757;">Please select your job function</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="select" class="form-label">Select Country</label>
                                <select [(ngModel)]="profile.jobseekerCountry" formControlName="countryId" class="form-select" (change)="onChangeCountry($any($event.target).value)" required>
                                    <option *ngIf="expModel.allCountry == ''" value="0">Country</option>
                                    <option *ngFor="let item of expModel.allCountry" value="{{item.countryId}}">{{item.countryName}}</option>
                                </select>
                                <div *ngIf="f['countryId'] && (f['countryId'].touched || f['countryId'].dirty)  &&  !f['countryId'].valid">
                                    <div *ngIf="f['countryId'].errors">
                                        <div class="text-three" *ngIf="!expModel.editExperience.controls['countryId'].valid">
                                            <span style="color: #EB5757;">A field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="select" class="form-label">Select City</label>
                                <select [(ngModel)]="profile.jobseekerCity" formControlName="cityId" class="form-select" required>
                                    <option *ngIf="expModel.allCity == ''" value="-1">City</option>
                                    <option *ngFor="let item of expModel.allCity" value="{{item.cityId}}">{{item.cityName}}</option>
                                </select> 
                                <div *ngIf="f['cityId'] && (f['cityId'].touched || f['cityId'].dirty)  &&  !f['cityId'].valid">
                                    <div *ngIf="f['cityId'].errors">
                                        <div class="text-three" *ngIf="!expModel.editExperience.controls['cityId'].valid">
                                            <span style="color: #EB5757;">A field is required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label for="select" class="form-label">Period</label>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="select" class="form-label">Start date</label>
                        <select formControlName="startPeriodMonth" id="Select" class="form-select" required>
                            <option value="" disabled selected hidden>Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        <div *ngIf="f['startPeriodMonth'] && (f['startPeriodMonth'].touched || f['startPeriodMonth'].dirty)  &&  !f['startPeriodMonth'].valid">
                            <div *ngIf="f['startPeriodMonth'].errors">
                                <div class="text-three" *ngIf="!expModel.editExperience.controls['startPeriodMonth'].valid">
                                    <span style="color: #EB5757;">A field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="select" class="form-label" style="visibility: hidden;">Start date</label>
                        <select id="year-picker" class="form-select" formControlName="startPeriodYear" required>
                            <option value="" disabled selected hidden>Year</option>
                            <option *ngFor="let year of startPeriodYearOptions" [value]="year">{{year}}</option>
                        </select>
                        <div *ngIf="f['startPeriodYear'] && (f['startPeriodYear'].touched || f['startPeriodYear'].dirty)  &&  !f['startPeriodYear'].valid">
                            <div *ngIf="f['startPeriodYear'].errors">
                                <div class="text-three" *ngIf="!expModel.editExperience.controls['startPeriodYear'].valid">
                                    <span style="color: #EB5757;">A field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4" [hidden]="checkbox.checked">
                        <label for="select" class="form-label">End date/Expected</label>
                        <select formControlName="endPeriodMonth" id="Select" class="form-select" required>
                            <option value="" disabled selected hidden>Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        <div *ngIf="f['endPeriodMonth'] && (f['endPeriodMonth'].touched || f['endPeriodMonth'].dirty)  &&  !f['endPeriodMonth'].valid">
                            <div *ngIf="f['endPeriodMonth'].errors">
                                <div class="text-three" *ngIf="!expModel.editExperience.controls['endPeriodMonth'].valid">
                                    <span style="color: #EB5757;">A field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" [hidden]="checkbox.checked">
                        <label for="select" class="form-label" style="visibility: hidden;">Start date</label>
                        <select id="year-picker" class="form-select" formControlName="endPeriodYear" required>
                            <option value="" disabled selected hidden>Year</option>
                            <option *ngFor="let year of endPeriodYearOptions" [value]="year">{{year}}</option>
                        </select>
                        <div *ngIf="f['endPeriodYear'] && (f['endPeriodYear'].touched || f['endPeriodYear'].dirty)  &&  !f['endPeriodYear'].valid">
                            <div *ngIf="f['endPeriodYear'].errors">
                                <div class="text-three" *ngIf="!expModel.editExperience.controls['endPeriodYear'].valid">
                                    <span style="color: #EB5757;">A field is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check me-auto position">
                            <input formControlName="isPresent"
                                #checkbox
                                [ngModel]="value.selected == 1 ? 1 : value.selected == 0 ? 0 : 0"
                                (ngModelChange)="value.selected = $event ? 1 : 0" class="form-check-input" type="checkbox"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Present
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label positionDesc">Description</label>
                        <textarea class="form-control fb-multiline-text" placeholder="Try to mention what are your job descriptions and achievements to make recruiter know your skill and ability clearly."
                         cols="92" rows="15" (keyup)="onKeyUp($event)"  [maxlength]="maxChars" formControlName="jobDescription"></textarea>
                        <div>
                            {{numberOfCharacters1}} / {{maxNumberOfCharacters}}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer border-0">
            <button (click)="confirmBox()" class="btn btn-outline-primary rounded-pill px-5">
                Cancel
            </button>
            <button (click)="updateData()" class="btn btn-primary rounded-pill px-5">
                Submit
            </button>
        </div>
    </div>
</div>