<section id="jumbotron">
    <div class="jumbotron jumbotron-fluid height100p banner" id="home" loading="lazy">
        <div class="container h100">
            <div class="contentBox h100">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-3" style="max-width: 200vh; font-weight:bolder">Engineering Workshop: Bangun Website Portofoliomu dari 0</h3>
                        </div>
                    </div>
                    <h5 class="mb-3" style="font-weight:bolder">Bikin Kamu Auto Diinterview HR!</h5>
                    <p>Senin, 28 Agustus 2023 - Rabu, 30 Agustus 2023</p>
                    <p>Pkl. 19:00 - 21:00 WIB</p>
                    <div class="bullet mt-4 mb-4">
                        <p>&#x2022; Mendapatkan sertifikat partisipasi</p>
                        <p>&#x2022; Belajar coding live dengan mentor programmer berpengalaman</p>
                        <p>&#x2022; Materi reading dan video tutorial</p>
                        <p>&#x2022; Bangun portofolio programming </p>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-2">Ticket Pricing:</p>
                        <h3 style="color: #FF7E4B;"><del>Rp 599.000,-</del></h3>
                        <h3 class="mb-3">Rp 199.000,-</h3>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSduZ7EbDFUEzqmTl3p-TdvHeJ_RtpAh4DE3mt1xpPLp_jzNWQ/viewform"
                            target="_blank"><button type="button" class="btn btn-warning col-12">Register Now</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="job-oppur" class="job-oppur pt-5">
    <div class="container">
        <div class="section-title mb-5">
            <h1>About This Event</h1>

        </div>
        <div class="section-body">
            <h3 class="mt-4 mb-4">Kamu cocok ikut Webinar ini, kalau:</h3>
            <p><img loading="lazy" src="assets/image/check.png">Kamu freshgraduate yang tertarik belajar programming secara live dan murah!! </p>
            <p><img loading="lazy" src="assets/image/check.png">Kamu yang mau buat protofolio programming yang terlihat profesional</p>
            <p><img loading="lazy" src="assets/image/check.png">Kamu yang ingin akselerasi skill kamu di industri IT </p>

            <div class="container mt-5">
                <h3 class="mt-4 mb-4">Yang kamu dapatkan setelah mengikuti webinar ini</h3>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                        <button class="btn btn-primary col-12">Basic HTML (Structure, Element, Attributes, Table, Link, and Form)</button>
                    </div>
                    <div class="col-md-auto col-lg-3">
                        <button class="btn btn-primary col-12">Basics CSS (Concept, Basic Styling, Display, and Position)</button>
                    </div>
                    <div class="col col-lg-3">
                        <button class="btn btn-primary col-12">Basic JavaScript (Variable, Data Type, Post &  Get, Structure, and Templates)</button>
                    </div>
                </div>
                <div class="row justify-content-md-center button-2">
                    <div class="col col-lg-3">
                        <button class="btn btn-primary col-12">Membuat portofolio programming</button>
                    </div>
                    <div class="col-md-auto col-lg-3">
                        <button class="btn btn-primary col-12">Mendapatkan sertifikat partisipasi</button>
                    </div>
                    <div class="col col-lg-3">
                        <button class="btn btn-primary col-12">Bikin personal website yang terlihat professional</button>
                    </div>
                </div>
                <div class="row justify-content-md-center button-2">
                    <div class="col-12 col-lg-3">
                        <button class="btn btn-primary col-12">Konsultasi dengan instruktur kami sampai bisa</button>
                    </div>
                    <div class="col-12 col-lg-3">
                        <button class="btn btn-primary col-12">Kesempatan punya profile yang dilirik hiring partner kami</button>
                    </div>
                </div>
            </div>

            <!-- <h3 class="mt-4 mb-4">Meet Our Speakers</h3> -->

            <div class="container mt-5">
                <div class="row justify-content-md-center text-center">
                    <div class="col-md-8">
                        <h1 class="mt-4 mb-2">Cerita Sukses Berkarier di Dunia Digital bersama Ideaco</h1>
                        <p class="mt-4 mb-5">Mereka berhasil meningkatkan skill digitalnya. Lalu mewujudkan mimpi mereka
                            untuk
                            berkarier
                            di
                            dunia industri digital. Maukah kamu jadi yang selanjutnya? </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="job-oppur">
    <div class="section-body section-card bg-primary">
        <div class="row justify-content-md-center text-center">
            <div class="col col-lg-3">
                <div class="card shadow">
                    <div class="text-center">
                        <img loading="lazy" class="card-img-top" src="assets/image/user1.png" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Virgiawan Arshad</h5>
                            <p class="card-text">Backend Developer</p>
                            <hr>
                            <p class="card-desc mt-3">Saya tinggal di salah satu desa di Sulawesi Utara.
                                Kondisi
                                ini
                                membuat saya sulit mendapat pekerjaan. Lalu, saya memilih untuk berkarier di
                                Ideaco. Banyak ilmu baru yang saya dapat baik itu teknis programming maupun
                                metodologi dalam pengembangan aplikasi yang sangat membantu saya dalam
                                pembuatan
                                real project nantinya. Saya jadi bisa membuat aplikasi real yang berguna
                                untuk
                                transformasi digital. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto col-lg-3">
                <div class="card shadow">
                    <div class="text-center">
                        <img loading="lazy" class="card-img-top" src="assets/image/user3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Putri Fatimah</h5>
                            <p class="card-text">Android Developer</p>
                            <hr>
                            <p class="card-desc mt-3">Aku start dari 0 tentang programming, sampai dengan
                                belajar
                                cara menerapkannya dalam sebuat project kolaborasi. Setelah berkarir di
                                Ideaco,
                                aku jadi bisa lebih yakin dan fokus ke bidang karir yang aku minati.
                                Tentunya
                                dibarengi semangat untuk terus belajar meningkatkan skill programming maupun
                                essential soft skill yang harus aku kuasai dalam mengerjakan project dalam
                                tim.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3">
                <div class="card shadow">
                    <div class="text-center">
                        <img loading="lazy" class="card-img-top" src="assets/image/user2.png" alt="Card image cap">

                        <div class="card-body">
                            <h5 class="card-title">Fritz Agricia</h5>
                            <p class="card-text">Frontend Developer
                                at PT Carefastindo</p>
                            <hr>
                            <p class="card-desc mt-3">Keraguan switch career, berhasil dilenyapkan saat
                                berkarir
                                di
                                Ideaco. Banyak banget pengalaman yang saya dapatkan terlebih saya tadinya
                                hanyalah seorang IT Infrastructure yang bercita-cita ingin jadi seorang
                                developer and finally!! Saya bisa mewujudkannya, seru banget dan jadi lebih
                                percaya diri ke real project dan selalu dibimbing sama mentor-mentor dan
                                lead
                                yang kece abis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="jobseeker-quote" id="jobseeker-quote">
    <div class="container">
        <div class="row">
            <div class="banner-quote justify-content-center align-self-center">
                <h2 class="italic-quote ">“Opportunities don't happen, you create them”</h2>
                <h2>Find the career opportunity with Toptalent</h2>
                <button type="button" class="btn btn-biru rounded-pill px-5 mt-4" routerLink="/main/job-find">
                    Get Hired Now</button>
            </div>
        </div>
    </div>
</section>
<section class="qr-section" id="qr-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 phone-content ">
                <img loading="lazy" src="assets/phone.png" alt="">
            </div>
            <div class="col-md-7 qr-content ">
                <div class="row">
                    <div class="px-3 py-3">

                        <h2 class="fw-bolder">Your job-searching partner is always on your side </h2>
                        <h2>We are available on Mobile version. Grab your phone, download Toptalent App and get
                            hired!
                        </h2>
                    </div>
                </div>
                <div class="row">

                    <img loading="lazy" src="assets/qr.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer">
    <svg class="svg-1" viewBox="0 0 1920 231" fill="none">
        <path
            d="M0 231C0 231 201.039 139.477 723.441 129.775C1245.84 120.073 1432.36 74.5933 1474.5 62.965C1516.64 51.3366 1669.26 1.15606 1920 0V231H0Z"
            fill="#006EFF" />
    </svg>
    <div class="footer-content px-5 py-5">
        <img loading="lazy" src="assets/toptalent.png" alt="">
        <p>©2022 Toptalent. All Rights Reserved</p>
    </div>
</footer>