<section class="find-jobs">
    <div class="contain container-fluid">
        <div class="section-white">
            <div class="section-search-grey">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-12">
                        <mat-form-field class="example-form-field container-fluid" appearance="fill">
                            <mat-label>Search for a job</mat-label>
                            <span matPrefix>
                                <mat-icon class="me-2 text-secondary">search</mat-icon> &nbsp;
                            </span>
                            <input matInput type="text" [(ngModel)]="fill" (keyup.enter)="keJobSearch()">
                            <button *ngIf="fill" matSuffix mat-icon-button aria-label="Clear" (click)="fill=''">
                                <mat-icon style="border: none;">close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                        <div class="input-group-append">
                            <button
                                class="btn btn-search bg-primary rounded-pill px-5 py-2 container-fluid mt-2 search-btn"
                                type="button" id="button-addon2" (click)="keJobSearch()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row content" hidden>
                    <div class="col-md-12">
                        <div class="button-wrapper btn-container-left">

                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Location
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>


                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Job Type
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>


                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Job Function
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>

                            <a class="btn btn-outline-primary rounded-pill dropdown-toggle px-3" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Date Posted
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-result pb-4 pt-2" *ngIf="onSearch">
            <h1>Result for “{{ fill }}”</h1>
            <pagination-template #p="paginationApi" (pageChange)="page = $event">
                <h5>{{getStartIndex(p.getCurrent(), p.getLastPage())}}-{{getLastIndex(p.getCurrent(),
                    p.getLastPage())}} of {{this.jobFindModel.recentJobs?.length}} job matches</h5>
            </pagination-template>
        </div>

        <div class="section-white"
            *ngFor="let job of jobFindModel.recentJobs | paginate: { itemsPerPage: 15, currentPage: page }">
            <div class="card border-0">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1 photo-border">
                                    <img src={{job.recruiterImageLink}} alt="">
                                </div>
                                <div class="col-md-7">
                                    <h5><a routerLink="detail/{{job.jobId}}" class="text-dark"> {{
                                            job.jobName
                                            }}
                                            <span class="badge ms-1"
                                            [ngStyle]="{'color': (job.jobPosition === 'Contractual') ? '#006EFF' : 
                                            (job.jobPosition === 'Freelance') ? '#E051C1' : 
                                            (job.jobPosition === 'Internship') ? '#ff9900' : 
                                            (job.jobPosition === 'Part time') ? '#16C39A' : 
                                            (job.jobPosition === 'Full time') ? 'green' : ''}">
                                            {{job.jobPosition}}</span>
                                        </a>
                                    </h5>
                                    <p href="" class="recruiter-company">
                                        {{ job.recruiterCompany }}
                                    </p>
                                    <p class="text-secondary pt-2">{{ job.jobAddress }}</p>
                                    <p>Rp {{ job.jobSalary | currencyFormat }}</p>
                                    <span class="text-secondary">{{ job.createdAt }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-button">
                            <button type="button" class="btn btn-outline-primary rounded-pill" hidden>
                                <img src="assets/save.svg" alt="" class="filter-blue"> Save this
                                job</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination-template #p="paginationApi" (pageChange)="page = $event">
            <div class="row no-gutters">
                <div class="col-md-7 ms-auto">
                    <div class="custom-pagination d-flex">
                        <div class="page-button me-auto">
                            <button type="button" class="btn btn-primary rounded-pill me-1" (click)="p.previous()"
                                *ngIf="p.isFirstPage()===false">Previous Page
                            </button>
                            <button type="button" class="btn btn-outline-secondary rounded-pill me-1"
                                (click)="p.previous()" *ngIf="p.isFirstPage()===true"
                                [disabled]="p.isFirstPage()===true">Previous Page
                            </button>
                            <button type="button" class="btn btn-primary rounded-pill me-1" (click)="p.next()"
                                *ngIf="p.isLastPage()===false">Next Page
                            </button>
                            <button type="button" class="btn btn-outline-secondary rounded-pill me-1" (click)="p.next()"
                                *ngIf="p.isLastPage()===true" [disabled]="p.isLastPage()===true">Next Page
                            </button>
                        </div>
                        <div class="page-number">
                            <span>
                                <select name="pageToggle" id="pageToggle" [(ngModel)]="page"
                                    class="form-select form-select-sm">
                                    <ng-container *ngFor="let item of createRange(p.getLastPage())">
                                        <option [ngValue]="item.value" (change)="page=item.value">
                                            {{item.value}}
                                        </option>
                                    </ng-container>
                                </select>
                            </span>
                        </div>
                        <div class="pagination-icon pagination-previous ps-2 pe-1">
                            <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                                <img src="assets/previous.png" alt="">
                            </span>
                        </div>
                        <div class="pagination-icon pagination-next ps-1 pe-2">
                            <span *ngIf="!p.isLastPage()" (click)="p.next()">
                                <img src="assets/next.png" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </pagination-template>

    </div>
</section>