<div class="container">
    <div class="row row-centered">
        <div class="item">
            <div class="content">
                <h6 class="text-center hw">Your application is sent!</h6>
                <img class="image-doc" src="../../../../assets/emailsent.png" alt="image">
            </div>
            <div class="col-md-6 col-centered">
                <p class="text-center hw1">Your application for Business Development at PT Idea Kolaborasi Utama has
                    been submitted.
                    We’ll notify you about the outcome of your application within 2 weeks.</p>
            </div>
        </div>
    </div>
</div>