<section class="settings">
    <div class="contain">
        <h5 class="fw-bold mt-2">Settings</h5>
        <div class="col-sm-8">
            <div class="row mt-4">
                <div class="section-white text-gray padding-left">
                    <h4 class="title-setting text-gray padding-left">Delete Account</h4>
                    <br>
                    <h5 class="padding-left">We are sorry to let you go</h5>
                    <br>
                    <p class="paragraph-settings padding-left">To delete your account, please send an email request to 
                        <a class="text-blue">toptalentapp.id@gmail.com</a>
                        <span>, with this following details:</span>
                    </p>
                    <br>
                    <p class="paragraph-settings padding-left">1. Subject: Request for Account Deletion</p>
                    <p class="paragraph-settings padding-left">2. Verify your account information</p>
                    <p class="paragraph-settings position-p padding-left">Provide your 
                        <span class="font-weight-bold"> full name, username, and email address </span>
                        <span> associated with the account. This information will help the support team identify and locate your account accurately.</span>
                    </p>
                    <p class="paragraph-settings bottom-15 padding-left">3. Express your intention to delete the account</p>
                    <p class="paragraph-settings position-p padding-left bottom-20">Clearly state that you wish to delete your account and emphasize that you want all personal data and associated information removed from the company's systems permanently.</p>
                    <p class="paragraph-settings bottom-15 padding-left">4. Provide contact information</p>
                    <p class="paragraph-settings position-p2 padding-left">Include your current contact information 
                        <span class="font-weight-bold">(email address, phone number) </span>
                        <span>so we can reach out to you for further verification or communication regarding your account deletion request.</span> 
                    </p>
                    <br>
                    <p class="paragraph-settings padding-left">After 1 to 4x24 hours, we will send you your account deletion confirmation through your contact information and provide an estimated date by which the process will be completed.</p>
                </div>
            </div>
        </div>
    </div>
</section>