<section class="find-jobs">
    <div class="contain container-fluid">
        <div class="py-3">
            <h4 class="fw-bold">Applied Jobs</h4>
            <div class="col-md-2">
                <select class="form-select form-select-md mb-3 rounded-pill mt-4" aria-label=".form-select-lg example"
                    [(ngModel)]="filteredString">
                    <option value="sent">Sent </option>
                    <option value="accepted">Accepted</option>
                    <option value="rejected">Rejected</option>
                </select>
            </div>
        </div>
        <div class="section-white" *ngFor="let job of appliedJobModel.appliedJobs | filter: filteredString">
            <div class="card border-0">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1 photo-border">
                                    <img src="http://54.251.83.205:9091/resources/photo/{{job.recruiterImage}}" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h5><a routerLink="applied-job-detail/{{job.jobId}}" class="text-dark"> 
                                            {{job.jobName}}
                                        </a>
                                    </h5>
                                    <a href="" class="recruiter-company">
                                        {{ job.recruiterCompany }}
                                    </a>
                                    <p class="text-secondary pt-2">{{ job.jobAddress }}</p>
                                    <span class="text-secondary">{{ job.createdAt }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-button">
                            <button type="button" class="btn px-5"
                                [ngStyle]="{'color': (job.applicationStatus === 'sent') ? '#006EFF' : (job.applicationStatus === 'accepted') ? 'green' : ''}">{{job.applicationStatus}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="appliedJobModel.appliedJobs.length===0" class="text-center mt-5">
            <h2 class="fw-bold">No Applied Jobs</h2>
            <h3 class="mt-3 mb-5">you haven't applied any job yet</h3>
        </div>
    </div>
</section>